<p-dialog header="Tela de cadastro" filter="true" draggable="false" paginator="true" [(visible)]="display" [style]="{width: '1000px', height: '300px'}">
  <form #f="ngForm" (ngSubmit)="cadastrar(f)" >
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <label for="nome">Nome Completo</label>
        <input type="text" id="nome" pInputText name="nome" [(ngModel)]="pessoa.nome" required #nome="ngModel" />
          {{nome.className}}
        <div hidden="nome.untouched">
            nome é obrigatorio
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <label>Nº CPF</label>
        <p-inputMask type="text" name="cpf" [(ngModel)]="pessoa.cpf" required mask="999.999.999-99"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-4">
        <label>Nº RG</label>
        <input type="text" pInputText name="rg" [(ngModel)]="pessoa.rg" required />
      </div>

      <div class="ui-g-12 ui-md-4">
        <label>Nº Reservista</label>
        <input type="text" pInputText name="reservista" [(ngModel)]="pessoa.reservista" />
      </div>

      <div class="ui-g-12 ui-md-4">
        <label>Nº Carteira de Trabalho</label>
        <input type="text" pInputText name="ctps" [(ngModel)]="pessoa.ctps" />
      </div>

      <div class="ui-g-12 ui-md-4">
        <label>Nº Titulo de Eleitor</label>
        <input type="text" pInputText name="titulo" [(ngModel)]="pessoa.titulo" />
      </div>

      <div class="ui-g-12 ui-md-4">
        <label for="estado">Estado de Nascimento</label>
        <p-dropdown id="estado" placeholder="Selecione um estado" value="pessoa.estado.nome" name="estado" [(ngModel)]="pessoa.estado.nome" [options]="estados"></p-dropdown>
      </div>
    </div>
    <p-footer class="rodape">
      <button pButton type="submit" class="btn-save" [disabled]="f.invalid" label="Cadastrar" ></button>
      <p-button type="button" styleClass="ui-button-danger" pTooltip="Sair" tooltipPosition="top" icon="pi pi-times" (click)="display=false" ></p-button>
    </p-footer>
  </form>
</p-dialog>

<div class="botao">
  <button pButton type="button" label="Novo" pTooltip="Novo cadastro" tooltipPosition="top" icon="pi pi-plus" (click)="showDialog()" ></button>
</div>

<p-toast></p-toast>
