<div class="container">
  <div class="content first-content">
      <div class="first-column">
        <img class="img" src="/assets/images/image-login.jpg">
      </div>    
      <div class="second-column">
          <h2 class="title title-second">Login - SUS</h2>
          <div class="social-media">
          </div>              
              <label class="label-input" for="">
                <i class="far fa-envelope icon-modify"></i>
                  <input type="text" [(ngModel)]="usuario.usuario" placeholder="Ex: Fulando@gmail.com" pInputText />
              </label>
              
              <label class="label-input" for="">
                  <i class="fas fa-lock icon-modify"></i>
                  <input type="password" [(ngModel)]="usuario.senha" placeholder="**************" pInputText />
              </label>
              <button type="submit" class="btn btn-second" (click)="login()">Entrar</button>
      </div><!-- second column -->
</div>

