<p-panel header="Lista de medicos" [toggleable]="true" class="center">
  <p-dataTable [value]="medicos" paginator="true" [rows]="10" [style]="{'height':'100%'}" [globalFilter]="" #dt>
    <p-column header="Id">
        <ng-template let-medico="rowData" pTemplate="body">
            {{medico.id}}
        </ng-template>
    </p-column>  
    <p-column header="Nome">
          <ng-template let-medico="rowData" pTemplate="body">
              {{medico.nome}}
          </ng-template>
      </p-column>
      <p-column header="CRM">
              <ng-template let-medico="rowData" pTemplate="body">
                  {{medico.crm}}
                  <!-- {{pessoa.estado?.nome}} -->
              </ng-template>
      </p-column>
      <p-column header="Ação">
          <ng-template pTemplate="body">
              <button class="edit" routerLink="/medico/update/{{medico.id}}"  pButton pRipple label="Editar" icon="pi pi-pencil"></button> 
              <button class="delete" routerLink="delete/{{medico.id}}" pButton pRipple label="Deletar" icon="pi pi-times" severity="danger"></button>
            
            </ng-template>
      </p-column>
    </p-dataTable>
   
</p-panel>
