  <p-dataTable [value]="pessoas" paginator="true" [rows]="4" [style]="{'height':'100%'}">
    <p-column header="Nome">
        <ng-template let-pessoa="rowData" pTemplate="body">
            {{pessoa.nome}}
        </ng-template>
    </p-column>

    <p-column header="Estado">
            <ng-template let-pessoa="rowData" pTemplate="body">
                {{pessoa.estado?.nome}}
            </ng-template>
    </p-column>

    <p-column header="CPF">
        <ng-template let-pessoa="rowData" pTemplate="body">
            {{pessoa.cpf}}
        </ng-template>
    </p-column>

    <p-column header="RG">
        <ng-template let-pessoa="rowData" pTemplate="body">
            {{pessoa.rg}}
        </ng-template>
    </p-column>

    <p-column header="Ação">
        <ng-template pTemplate="body">
            <button pButtom class="btn btn-danger botao" pTooltip="Excluir" tooltipPosition="top"><i class="pi pi-trash"></i></button>
            <button pButtom class="btn btn-primary"  pTooltip="Editar" tooltipPosition="top"><i class="pi pi-pencil"></i></button>
      </ng-template>
    </p-column>
  </p-dataTable>
