<p-panel header="Cadastro de Paciente" [toggleable]="false">
    <form>
      <div class="ui-g">
        <div class="ui-g-4 ui-fluid">
          <label for="float-input">Nome completo: </label>
          <input id="float-input" type="text" pInputText />
        </div>

        <div class="ui-g-4 ui-fluid">
          <label for="float-input">Telefone: </label>
          <p-inputMask type="text" name="telefone" placeholder="(99) 99999-9999" mask="(99) 99999-9999" ></p-inputMask>
        </div>

        <div class="ui-g-4 ui-fluid">
            <label for="float-input">Data de Nascimento: </label>
            <p-inputMask type="text" name="nascimento"  mask="99/99/9999" ></p-inputMask>
          </div>

        <div class="ui-g-6 ui-fluid">
          <label for="float-input">E-mail: </label>
          <input id="float-input" type="email" placeholder="Ex:fulano@gmail.com" pInputText />
        </div>

        <div class="ui-g-6 ui-fluid">
            <label for="float-input">Nome do Acompanhate: </label>
            <input id="float-input" type="text" pInputText />
        </div>

        <div class="ui-g-4 ui-fluid">
            <label for="float-input">Logradouro: </label>
            <input id="float-input" type="text" placeholder="Ex: Rua, quadra" pInputText />
        </div>

        <div class="ui-g-4 ui-fluid">
            <label for="float-input">Número: </label>
            <input id="float-input" type="text" pInputText />
        </div>

        <div class="ui-g-4 ui-fluid">
            <label for="float-input">Complemento: </label>
            <input id="float-input" type="text" pInputText />
        </div>

        <div class="ui-g-4 ui-fluid">
            <label for="float-input">Estado: </label>
            <p-dropdown id="float-input" [options]="estados" placeholder="Selecione um dos estados abaixo" optionLabel="nome"></p-dropdown>
        </div>

        <div class="ui-g-4 ui-fluid">
            <label for="float-input">Municipio: </label>
            <p-dropdown id="float-input" [options]="municipios" placeholder="Selecione um dos municipios abaixo" optionLabel="nome"></p-dropdown>
        </div>

        <div class="ui-g-4 ui-fluid">
            <label for="float-input">Sexo: </label>
            <p-dropdown id="float-input" [options]="sexo" placeholder="Selecione um dos sexos" optionLabel="descricao"></p-dropdown>
        </div>

        <div class="botao">
          <button pButton type="submit" class="btn-save" label="Cadastrar" ></button>
        </div>
      </div>
    </form>
  </p-panel>
