<p-panel header="Cadastro de Triagem" [toggleable]="false">
    <form>
      <div class="ui-g">
        <div class="ui-g-12 ui-fluid">
            <label for="float-input">Nome do paciente: </label>
            <input id="float-input" name="nome" [disabled]="true" placeholder="aqui vem o nome do paciente não editavel" type="text" pInputText />
          </div>

        <div class="ui-g-3 ui-fluid">
          <label for="float-input">Peso (KG): </label>
          <input id="float-input" name="peso" placeholder="85" type="number" pInputText />
        </div>

        <div class="ui-g-3 ui-fluid">
          <label for="float-input">Altura: </label>
          <p-inputMask type="text" name="altura" placeholder="1.75" mask="9.99" ></p-inputMask>
        </div>

        <div class="ui-g-3 ui-fluid">
            <label for="float-input">Pressão: </label>
            <p-inputMask type="text" name="pressao"  mask="99/99" ></p-inputMask>
        </div>

        <div class="ui-g-3 ui-fluid">
          <label for="float-input" class="label">Status de saúde: </label>
          <p-dropdown id="float-input" [options]="status" placeholder="Selecione um dos status abaixo" optionLabel="descricao"></p-dropdown>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label for="float-input">Mais detalhes: </label>
            <textarea [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>

        <div>
          <button pButton type="submit" class="btn-save" label="Cadastrar" ></button>
        </div>
      </div>
    </form>
  </p-panel>

